@model FormulárioTeste.Models.ViewModels.LivroViewModel


<div>
    <label>Nome do Autor </label>
    <input type="text" asp-for="@(Model.Livro.Autor.Nome)" />
</div>
<div>
    <label>Estado do Livro</label>
    <input type="text" asp-for="@(Model.Livro.Autor.Estado)" />
</div>
<div>
    <label>Idade do Livro</label>
    <input type="text" asp-for="@(Model.Livro.Autor.Idade)" />
</div>
